body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
    background: #f5f5f5; /* Изменение фона на светло-серый */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2.5em;
    color: #333; /* Темно-серый цвет */
}

img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

a {
    display: block;
    text-align: center;
    margin: 20px auto;
    text-decoration: none;
    color: #fff;
    background-color: #444; /* Темно-серый цвет */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.9em;
    width: fit-content;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background-color: #333; /* Чуть более темный оттенок серого */
    transform: scale(1.05);
}

#comments-section {
    margin-top: 20px;
}

#comments-container {
    margin-top: 10px;
    text-align: left;
}

.comment {
    background-color: #f5f5f5; /* Светло-серый фон */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-text {
    margin: 0;
}

.comment-delete {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
}

#comment-form {
    margin-top: 20px;
}

#comment-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#comment-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #666; /* Средний оттенок серого */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#comment-form button:hover {
    background-color: #555; /* Чуть более темный оттенок серого */
    transform: scale(1.05);
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff0000;
    font-size: 1.2em;
    margin-left: 10px;
}

.delete-button i {
    pointer-events: none;
}
